*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    margin-top: 20px;
}
a {
    color: #20C20E;
    text-decoration: none;
}
.menu_1
{
    color: #20C20E;
    list-style: none;
    padding-left: 360px;
    margin-left: 3%;
}
.menu_1 li{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    box-sizing: border-box;
    border: #000000 1px solid;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}
.menu_1 li:hover{
    border: #20C20E 1px solid;
}
.name{
    color: #20C20E;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 150px;
    margin-left: 90px;
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
}
.pic{
    animation: moveimage 2s linear infinite;
    float: right;
    margin-top: 60px;
    margin-right: 150px;
    margin-bottom:50px ;
    border-radius: 20px;
    padding: 10px;
    border: 1px green solid;
}
#image{
    border-radius: 20px;
    background: linear-gradient(green, lime);
}
#image img{
     border-radius: 20px;
    opacity: 70%;
}
.tools{
    margin-top: 20000px;
    color: #20C20E;
    clear: both;
    text-align: center;
}
.tools1{
    margin-top: 10px;
}
.footer{
    border: #20C20E 1px solid;
    left: 0;
    bottom: 0;
    width: 99.6%;
    text-align: center;
}
.bottom{
    padding: 50px;
}

@keyframes MoveUpDown {
    0%, 100% {
        margin-top: 150px;
    }
    50% {
        margin-top: 180px;
    }
  }
@keyframes moveimage{
    0%,100% {
        margin-top: 60px;
    }
    50% {
        margin-top: 70px;
        margin-bottom: 40px;
    }
}